/**************
    LAYOUTS
***************/
.edit-l {
    width: var(--details-width);
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.task-info-container-l {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;
}

/**************
    MODELS
***************/
/* SECTION TITLE*/
.edit-title {
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;

    box-shadow: 0px 3px 4px -4px #949494;
}

/* GENERAL */
.todo-title,
.todo-list,
.todo-date{
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-title,
.todo-list,
.todo-date,
.todo-priority  {
    padding: 0.8rem 1.2rem;
    box-shadow: 0px 3px 4px -4px #949494;
}

.field-text,
.text-info {
    padding: 0.3rem;
    margin-left: 0.5rem;
    flex: 1;
}

/* PRIORITY */
.priority-title {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
}

.text-info {
    padding: 0.3rem;
    margin-left: 0.5rem;
    flex: 1;
}

.priority-container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.priority-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.priority-radio-btn {
    margin-right: 0.5rem;
    margin-left: 1rem;
}

/* NOTES TEXTAREA */
.todo-notes {
    flex-grow: 2;
    outline: none;
    border: none;
    resize: none;

    box-shadow: 
        inset 0px 3px 4px -4px #949494,
        inset 3px 0px 4px -4px #949494,
        inset 0px -3px 4px -4px #949494;
}

/* DELETE TASK BUTTON */
.delete-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* color: red; */
    color: #d62222;
    font-weight: 500;
    padding: 0.7rem 0;
}


/* NO TASK */
.no-task {
    text-align: center;
    padding: 1.5rem 0;
    font-weight: normal;
    color: #535353;
}

/**************
    STATES
***************/
.field-text:hover {
    cursor: pointer;
}

.field-text:focus {
    outline: dodgerblue solid 2px;
}

.priority-item:hover {
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #dadada;
    cursor: pointer;
}