
.content-l {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.details-l {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: var(--details-width);
    height: 100vh;
}


