/* All the classes in this file will use the prefix 'ls_', which stands for 
 * 'lists sidebar', to identify the class as belonging to this file. The only 
 * exception is the 'lists-sidebar-l' class. 
 */


/**************
    LAYOUTS 
***************/
.lists-sidebar-l {
    background-color: #f3f2f0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    width: var(--list-sidebar-width);
    min-width: fit-content;

    padding: 0; 
    box-shadow: 5px 0px 5px -5px #949494;

    --sidebar-side-padding: 0.6rem;
    --aux-heigth: 3.2rem;
}


/**************
    MODELS
***************/
/* LIST SEARCHBAR */
.ls_list-searchbar-wrapper {
    width: 100%;
    padding: 0 var(--sidebar-side-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: var(--aux-heigth);
    border-bottom: 1px solid #bebebe;
}

input[type="text"].ls_list-searchbar {
    width: 100%;
}

/* LIST CONTAINER */
.ls_lists-container {
    flex: 1;
    max-height: calc(100vh - 2*var(--aux-heigth));
    overflow-y: auto;
}

/* A TASK LIST ENTRY */
.ls_tasks-list {
    font-size: var(--font-normal);
    padding: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ls_list-name {
    display: flex;
    align-items: center;
    justify-content: left;

    margin-left: var(--sidebar-side-padding);
}

.ls_all-lists-text {
    font-weight: 550;
}

.ls_list-icon {
    color: #4287f1;
    margin-right: 0.8rem;
}

.ls_delete-list-btn {
    margin-right: var(--sidebar-side-padding);
}


/* NEW LIST INPUT */
.ls_new-list-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 var(--sidebar-side-padding);
    height: var(--aux-heigth);
    border-top: 1px solid #bebebe;
}

.ls_new-list-searchbar {
    flex-grow: 1;
    margin-right: 0.5rem;
}

.ls_add-list-btn {
    background-color: #4287f1;
    color: white;
    padding: 0.1rem;
    border-radius: 100%;
}


/**************
    STATES
***************/
.ls_task-list-active {
    background-color: #e0dedf;
}

.ls_add-list-btn:hover, 
.ls_delete-list-btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

.ls_delete-list-btn:hover {
    transform: scale(1.2);
}

.ls_add-list-btn:hover { 
    transform: scale(1.1);
}



